@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

#list {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#list td, #list th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align:center;

}
#list tr:nth-child(even){background-color: #f2f2f2;}
#list tr:hover {background-color: #ddd;}
#list th, .btn_add{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #006bb3;
    color: white;
}
#edit {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.h2_title{
    margin-top: 100px;
    display:flex;
    justify-content: center;
}

.btn_add{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 15px;
    font-family: paybooc-Light;
    transition: 0.25s;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.btn_add:hover{
    background-color: #5c8395;
}